<%- include ../layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
           <button onClick="addTranslator();">+ Add</button>
         </div>
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Languages</th>
                </tr>
                               
                <% if(data.length){ 
                                
                     for(var i = 0;i < data.length;i++) { %>
                        <tr>
                            <td><%=(i+1)%></td>
                            <td><%=data[i].id%></td>
                            <td><%=data[i].username%></td>
                            <td><%=data[i].name%> <%=data[i].surname%></td>
                            <td><%=data[i].email%></td>
                            <td><%=(data[i].languages!=null) ? data[i].languages : ""%></td>
                            <td>
                                <a class="a-inside edit" href="../translators/edit/<%=data[i].id%>">Edit</a>

                                <a class="a-inside delete" href="../translators/delete/<%=data[i].id%>">Delete</a>

                            </td>
                        </tr>
                <%   }
                }else{ %>
                 <tr>
                    <td colspan="3">No translator</td>
                 </tr>
            <% } %>
                
            </table>
         </div>
        </div>
        
<%- include ../layouts/footer.ejs %>
