<%- include ../layouts/header.ejs %>
<div class="page-header text-primary">
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>
<div class="page-data">
    <div class="data-table">
        <table border="1" cellpadding="7" cellspacing="7">
            <tr>

                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Languages</th>
            </tr>

            <% data.forEach(function (language) { %>
            <tr>

                <td><%= language.username %></td>
                <td><%= language.name %> <%= language.surname %></td>
                <td><%= language.email %></td>
                <td><%= (language.languages != null) ? language.languages : "" %></td>
            </tr>
            <% }) %>

        </table>
    </div>

    <div class="data-table">
        <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th colspan="8">Sessions</th>
            </tr>

            <tr>
                <th>Id</th>
                <th>Konu</th>
                <th>Sure (dk)</th>
                <th>Dil</th>
                <th>Baslangic Trh</th>
                <th></th>
                <th>Connect</th>
                <th>Peers</th>
            </tr>

            <% lists.forEach(function (items) { %>
            <tr>
                <td><%= items.id %></td>
                <td><%= items.topic %></td>
                <td><%= items.duration %></td>
                <td><%= items.lang1 %> > <%= items.lang2 %></td>

                <td><%= moment(items.start_date).format('DD-MM-YYYY') %> </td>
                <td><%= items.start_time %> </td>
                <td><a href="/video-conference/<%=items.id%>" >Connect</a></td>
                <td>
                    <table border="0" style="border: none;">
                        <%
                        var i=0;
                        if(items.peers) {
                                items.peers.forEach(function (peer) {
                        %>
                                    <tr>
                                        <td><%=++i%>-</td>
                                        <td class="label"><%=peer.username%></td>
                                    </tr>
                        <%      })
                         }
                        %>
                    </table>
                </td>
            </tr>
            <% }) %>

        </table>
    </div>

</div>

<%- include ../layouts/footer.ejs %>
