<%- include ../layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
           <button onClick="addTranslator();">+ Add</button>
         </div>
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Languages</th>
                </tr>

                <% data.forEach(function (translator) { %>
                        <tr>
                            <td><%=translator.id%></td>
                            <td><%=translator.username%></td>
                            <td><%=translator.name%> <%=translator.surname%></td>
                            <td><%=translator.email%></td>
                            <td><%=(translator.languages!=null) ? translator.languages : ""%></td>
                            <td>
                                <a class="a-inside edit" href="../translators/edit/<%=translator.id%>">Edit</a>

                                <a class="a-inside delete" href="../translators/delete/<%=translator.id%>">Delete</a>

                            </td>
                        </tr>
                <% }) %>
                
            </table>
         </div>
        </div>
        
<%- include ../layouts/footer.ejs %>
