<!doctype html>
<html>
<head>
    <title>Sign Up Linpret Language Services</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
        }
    </style>
    <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
</head>
<body>

<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
        <img style="max-width:150px; margin-top: -7px;"
             src="/../images/linpret_logo_3.png">
    </a>
</div>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span><%= __('Sign Up')%></h1>
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/signup<% if (customer) { %>?customer=true<% } %>" method="post">
            <div class="form-group">
                <label><%= __('Name')%></label>
                <input type="text" class="form-control" name="name"
                        <% if (typeof linkedinprofile == 'object') { %>
                       value="<%= linkedinprofile.firstName %>"
                        <% } %>
                >
            </div>
            <div class="form-group">
                <label><%= __('SurName')%></label>
                <input type="text" class="form-control" name="surname"
                        <% if (typeof linkedinprofile == 'object') { %>
                       value="<%= linkedinprofile.lastName %>"
                        <% } %>
                >
            </div>
            <div class="form-group">
                <label><%= __('Email')%></label>
                <input type="text" class="form-control" name="email"
                        <% if (typeof linkedinprofile == 'object') { %>
                       value="<%= linkedinprofile.emailAddress %>"
                        <% } %>
                >
                <% if (typeof linkedinprofile == 'object') { %>
                <input type="hidden" name="linkedincycle" id="linkedincycle" value="true">
                <%
                } %>
                <% if (customer) { %>
                <input type="hidden" name="isCustomer" id="isCustomer" value="true">
                <% } %>
            </div>
            <div class="form-group">
                <label><%= __('Password')%></label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label><%= __('Re-Password')%></label>
                <input type="password" class="form-control" name="repassword">
            </div>
            <% if (!customer) { %>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#langListCarrier").val("");
                    $(".add-row").click(function () {
                        if ($("#langFrom option:selected").val() == -1 || $("#langTo option:selected").val() == -1) {
                            return false;
                        }

                        if ($("#langFrom option:selected").val() == $("#langTo option:selected").val()) {
                            return false;
                        }

                        var langFrom = $("#langFrom option:selected").text();
                        var langTo = $("#langTo option:selected").text();
                        var markup = "<tr><td><input type='checkbox' name='record'></td><td>" + langFrom + "</td><td>" + langTo + "</td></tr>";

                        $("#langListCarrier").val($("#langListCarrier").val() + ($("#langFrom option:selected").val() + "," + "" + $("#langTo option:selected").val()) + ';');
                        $(".langTableBody").append(markup);
                    });

                    // Find and remove selected table rows
                    $(".delete-row").click(function () {
                        $(".langTableBody").find('input[name="record"]').each(function () {
                            if ($(this).is(":checked")) {
                                $(this).parents("tr").remove();
                            }
                        });
                    });
                });
            </script>

            <div class="form-group">
                <table id="langTable">
                    <tr id="langRow">
                        <td class="label"><%= __('From:')%></td>
                        <td>
                            <div class="styled-select blue semi-square">
                                <select id="langFrom">
                                    <option value="-1" selected="selected"><%= __('Choose')%></option>
                                    <% dataLang.forEach(function (langObj) { %>
                                    <option value="<%= langObj.lang_short %>"><%= langObj.lang_desc %></option>
                                    <% }) %>
                                </select>
                            </div>
                        <td class="label"><%= __('To:')%></td>
                        <td>
                            <div class="styled-select blue semi-square">
                                <select id="langTo">
                                    <option value="-1" selected="selected"><%= __('Choose')%></option>
                                    <% dataLang.forEach(function (langObj) { %>
                                    <option value="<%= langObj.lang_short %>"><%= langObj.lang_desc %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </td>
                        <td><input type="button" class="add-row" value="<%= __('Add Row')%>"></td>
                    <tr/>
                </table>
                </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table class="langTable">
                            <thead>
                            <tr>
                                <th><%= __('Language')%></th>
                                <th><%= __('From')%></th>
                                <th><%= __('To')%></th>
                            </tr>
                            </thead>
                            <tbody class="langTableBody">
                            <input type="hidden" id="langListCarrier" name="langListCarrier"/>
                            </tbody>
                        </table>
                        <button type="button" class="delete-row"><%= __('Delete Row')%></button>
                    </td>
                    <td></td>
                </tr>
                </table>
            </div>
            <% } %>

            <button type="submit" class="btn btn-warning btn-lg"><%= __('Sign Up')%></button>
        </form>

        <hr>

        <p><%= __('Already have an account?')%><a href="/login"><%= __('Login')%></a></p>
        <p><%= __('Or go')%> <a href="/"><%= __('Home')%></a>.</p>

    </div>
</div>
</body>
</html>
