<html>
<head>
    <title><%= __('Dashboard Linpret Language Services') %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript"
            src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"/>
    <style>
        body {
            padding-top: 20px;
        }

        .topcorner {
            top: 0;
            right: 0;
            padding: 9px;
        }

        #navigation {
            position: absolute;
            top: 0;
            right: 0;
        }

        #navMain {
            list-style: none;
            float: left;
            margin: 0;
            padding: 9px;
        }

        #navMain > li {
            float: right;
            position: relative;
            background-color: #00B7FF;
            padding: 6px 6px;
        }

        #navMain > li > a {
            padding: 0px 0px;
        }

        #navMain ul {
            display: none;
            position: absolute;
            list-style: none;
            left: 0;
            padding: 0;
            margin: 0;
        }

        #navMain ul li a {
            display: block;
            color: white;
        }

        #navMain li:hover ul {
            display: block;
        }

        #navMain li ul:hover {
            display: block;
        }

        #navMain li ul {
            position: relative;
            background-color: #337ab7;
        }

    </style>
    <script>
        <%
        if(lists){
            var hasAnyAdminSession = false
        lists.forEach(function (items) {
            if (items.is_admin == 1) {
                hasAnyAdminSession = true;
            }
        %>

        $.get("/peers/<%= items.id %>", function (participants) {
            index = 0;
            text = "";
            if (participants && participants.length > 0) {
                participants.forEach(function (part) {
                    $.get("/userData/" + part.userId, function (user) {
                        text += user.name + " " + user.surname;
                        if (++index != participants.length) {  // dont add "," after last one
                            text += ", ";
                        } else {
                            text = "(" + text + ")";
                            $("#participants-span-<%= items.id %>").html(text);
                        }
                    });

                });

            }
        });
        <%
        });
        }
        %>
    </script>
</head>
<body>

<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" rel="home" href="/" title="Linpret">
        <img style="max-width:150px; margin-top: -7px;"
             src="/../images/linpret_logo_3.png">
    </a>
</div>
<nav id="navigation">
    <ul id="navMain">
        <li><a href="#"><strong><%= user.email %>, id=<%= user.id %></strong></a>
            <ul>
                <div>
                    <li><a href="/connect/local"><%= __('Connect Local') %></a></li>
                    <li><a href="/logout"><%= __('Logout') %></a></li>
                    <li><a href="#" onclick="changePassword();"><%= __('Change Password') %></a></li>
                </div>
            </ul>
        </li>
    </ul>
</nav>
<div id="plan-form">
    <div class="container">
        <br><br><br><br><br><br>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" type="button" data-toggle="modal"
                        data-target="#plannerModal"><%= __('New Interepretation Session Plan') %></button>
            </div>
        </div>
        <br/>
        <div class="modal fade" id="plannerModal" name="plannerModal" tabindex="-1" role="dialog"
             aria-labelledby="plannerModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="plannerModalLabel"><%= __('Interpretation Session Plan Editor')
                            %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input type="text" id="desc" class="form-control"
                                           placeholder="<%= __('Description') %>"
                                           aria-describedby="basic-addon2">
                                    <span class="input-group-addon"><%= __('Description') %></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label" for="lang1"><%= __('Language')%></label>
                                <div class="form-group">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                                data-toggle="dropdown">
                                            <%= __('Source Language') %>
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu" id="lang1" name="lang1">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label" for="lang2"><%= __('Language')%></label>
                                <div class="form-group">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                                data-toggle="dropdown">
                                            <%= __('Destination Language') %>
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu" id="lang2" name="lang2">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label" for="cats"><%= __('Category')%></label>
                                <div class="form-group">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                                data-toggle="dropdown">
                                            <%= __('Select Category') %>
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu" id="cats" name="cats">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label" for="subCats"><%= __('Sub Category')%></label>
                                <div class="form-group">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                                data-toggle="dropdown">
                                            <%= __('Select Sub Category') %>
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu" id="subCats" name="subCats">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class='col-sm-12'>
                                <label class="control-label" for="interval"><%= __('Duration')%></label>
                                <div class="form-group">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                                data-toggle="dropdown">
                                            <%= __('Duration (In Mins)') %>
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu" id="interval">
                                            <li><a href="#">30</a></li>
                                            <li><a href="#">60</a></li>
                                            <li><a href="#">90</a></li>
                                            <li><a href="#">120</a></li>
                                            <li><a href="#">150</a></li>
                                            <li><a href="#">180</a></li>
                                            <li><a href="#">210</a></li>
                                            <li><a href="#">240</a></li>
                                            <li><a href="#">270</a></li>
                                            <li><a href="#">300</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <label class="control-label" for="name"><%= __('Date-Time')%></label>
                                    <div class='input-group date' id='plandate'>
                                        <input type='text' class="form-control"/>
                                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                                    </div>
                                </div>
                            </div>

                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <label class="control-label" for="name"><%= __('Timezone')%></label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                        <select class="form-control" name="timezones"  id="timezones"
                                                class="selectpicker">
                                            <option disabled selected>Select</option>
                                            <option value="All">Select All</option>
                                            <option value="-11">(GMT-11:00) Midway Island, Samoa</option>
                                            <option value="-10">(GMT-10:00) Hawaii-Aleutian</option>
                                            <option value="-10">(GMT-10:00) Hawaii</option>
                                            <option value="-9.30">(GMT-09:30) Marquesas Islands</option>
                                            <option value="-9">(GMT-09:00) Gambier Islands</option>
                                            <option value="-9">(GMT-09:00) Alaska</option>
                                            <option value="-8">(GMT-08:00) Tijuana. Baja California
                                            </option>
                                            <option value="-8">(GMT-08:00) Pitcairn Islands</option>
                                            <option value="-8">(GMT-08:00) Pacific Time (US & Canada)
                                            </option>
                                            <option value="-7">(GMT-07:00) Mountain Time (US & Canada)
                                            </option>
                                            <option value="-7">(GMT-07:00) Chihuahua, La Paz, Mazatlan
                                            </option>
                                            <option value="-7">(GMT-07:00) Arizona</option>
                                            <option value="-6">(GMT-06:00) Saskatchewan, Central America
                                            </option>
                                            <option value="-6">(GMT-06:00) Guadalajara, Mexico City,
                                                Monterrey
                                            </option>
                                            <option value="-6">(GMT-06:00) Easter Island</option>
                                            <option value="-6">(GMT-06:00) Central Time (US & Canada)
                                            </option>
                                            <option value="-5">(GMT-05:00) Eastern Time (US & Canada)
                                            </option>
                                            <option value="-5">(GMT-05:00) Cuba</option>
                                            <option value="-5">(GMT-05:00) Bogota, Lima, Quito, Rio Branco
                                            </option>
                                            <option value="-4.30">(GMT-04:30) Caracas</option>
                                            <option value="-4">(GMT-04:00) Santiago</option>
                                            <option value="-4">(GMT-04:00) La Paz</option>
                                            <option value="-4">(GMT-04:00) Faukland Islands</option>
                                            <option value="-4">(GMT-04:00) Brazil</option>
                                            <option value="-4">(GMT-04:00) Atlantic Time (Goose Bay)
                                            </option>
                                            <option value="-4">(GMT-04:00) Atlantic Time (Canada)
                                            </option>
                                            <option value="-3.30">(GMT-03:30) Newfoundland</option>
                                            <option value="-3">(GMT-03:00) UTC-3</option>
                                            <option value="-3">(GMT-03:00) Montevideo</option>
                                            <option value="-3">(GMT-03:00) Miquelon, St. Pierre</option>
                                            <option value="-3">(GMT-03:00) Greenland</option>
                                            <option value="-3">(GMT-03:00) Buenos Aires
                                            </option>
                                            <option value="-3">(GMT-03:00) Brasilia</option>
                                            <option value="-2">(GMT-02:00) Mid-Atlantic</option>
                                            <option value="-1">(GMT-01:00) Cape Verde Is.</option>
                                            <option value="-1">(GMT-01:00) Azores</option>
                                            <option value="0">(GMT) Greenwich Mean Time : Belfast</option>
                                            <option value="0">(GMT) Greenwich Mean Time : Dublin</option>
                                            <option value="0">(GMT) Greenwich Mean Time : Lisbon</option>
                                            <option value="0">(GMT) Greenwich Mean Time : London</option>
                                            <option value="0">(GMT) Monrovia, Reykjavik</option>
                                            <option value="1">(GMT+01:00) Amsterdam, Berlin, Bern, Rome,
                                                Stockholm, Vienna
                                            </option>
                                            <option value="1">(GMT+01:00) Belgrade, Bratislava, Budapest,
                                                Ljubljana, Prague
                                            </option>
                                            <option value="1">(GMT+01:00) Brussels, Copenhagen, Madrid,
                                                Paris
                                            </option>
                                            <option value="1">(GMT+01:00) West Central Africa</option>
                                            <option value="1">(GMT+01:00) Windhoek</option>
                                            <option value="2">(GMT+02:00) Beirut</option>
                                            <option value="2">(GMT+02:00) Cairo</option>
                                            <option value="2">(GMT+02:00) Gaza</option>
                                            <option value="2">(GMT+02:00) Harare, Pretoria</option>
                                            <option value="2">(GMT+02:00) Jerusalem</option>
                                            <option value="2">(GMT+02:00) Minsk</option>
                                            <option value="2">(GMT+02:00) Syria</option>
                                            <option value="3">(GMT+03:00) Moscow, St. Petersburg,
                                                Volgograd
                                            </option>
                                            <option value="3">(GMT+03:00) Nairobi</option>
                                            <option value="3.30">(GMT+03:30) Tehran</option>
                                            <option value="4">(GMT+04:00) Abu Dhabi, Muscat</option>
                                            <option value="4">(GMT+04:00) Yerevan</option>
                                            <option value="4.30">(GMT+04:30) Kabul</option>
                                            <option value="5">(GMT+05:00) Ekaterinburg</option>
                                            <option value="5">(GMT+05:00) Tashkent</option>
                                            <option value="5.30">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi
                                            </option>
                                            <option value="5.45">(GMT+05:45) Kathmandu</option>
                                            <option value="6">(GMT+06:00) Astana, Dhaka</option>
                                            <option value="6">(GMT+06:00) Novosibirsk</option>
                                            <option value="6.30">(GMT+06:30) Yangon (Rangoon)</option>
                                            <option value="7">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                                            <option value="7">(GMT+07:00) Krasnoyarsk</option>
                                            <option value="8">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi
                                            </option>
                                            <option value="8">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
                                            <option value="8">(GMT+08:00) Perth</option>
                                            <option value="8.45">(GMT+08:45) Eucla</option>
                                            <option value="9">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                                            <option value="9">(GMT+09:00) Seoul</option>
                                            <option value="9">(GMT+09:00) Yakutsk</option>
                                            <option value="9.30">(GMT+09:30) Adelaide</option>
                                            <option value="9.30">(GMT+09:30) Darwin</option>
                                            <option value="10">(GMT+10:00) Brisbane</option>
                                            <option value="10">(GMT+10:00) Hobart</option>
                                            <option value="10">(GMT+10:00) Vladivostok</option>
                                            <option value="10.30">(GMT+10:30) Lord Howe Island</option>
                                            <option value="11">(GMT+11:00) Solomon Is., New Caledonia</option>
                                            <option value="11">(GMT+11:00) Magadan</option>
                                            <option value="11.30">(GMT+11:30) Norfolk Island</option>
                                            <option value="12">(GMT+12:00) Anadyr, Kamchatka</option>
                                            <option value="12">(GMT+12:00) Auckland, Wellington</option>
                                            <option value="12">(GMT+12:00) Fiji, Kamchatka, Marshall Is.
                                            </option>
                                            <option value="12.45">(GMT+12:45) Chatham Islands</option>
                                            <option value="13">(GMT+13:00) Nuku'alofa</option>
                                            <option value="14">(GMT+14:00) Kiritimati</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button"
                                id="createSession"><%= __('Create') %></button>
                    </div>
                </div>
            </div>
        </div>

        <% if (lists) { %>
        <div class="row">
            <div class="col-md-2">
                <span style="font-weight: bold;"><%= __('Subject') %></span>
            </div>
            <div class="col-md-1">
                <span style="font-weight: bold;"><%= __('Duration (In Mins)') %></span>
            </div>
            <div class="col-md-1">
                <span style="font-weight: bold;"><%= __('Languages') %></span>
            </div>
            <div class="col-md-1">
                <span style="font-weight: bold;"><%= __('Date') %></span>
            </div>
            <div class="col-md-1">
                <span style="font-weight: bold;"><%= __('Time') %></span>
            </div>
            <div class="col-md-1">
                <span style="font-weight: bold;"><%= __('Connect') %></span>
            </div>
            <div class="col-md-1">
                <span style="font-weight: bold;"><%= __('Payment') %></span>
            </div>
            <div class="col-md-2">
                <span style="font-weight: bold;"><%= __('Interpreter') %></span>
            </div>
            <div class="col-md-2">
                <span style="font-weight: bold;"><%= __('Invite') %></span>
            </div>
        </div>
        <% lists.forEach(function (items) { %>
        <div class="row x">
            <div class="col-md-2">
                <span><%= items.description %></span>
            </div>
            <div class="col-md-1">
                <span><%= items.duration %></span>
            </div>
            <div class="col-md-1">
                <span><%= items.lang1 %> > <%= items.lang2 %></span>
            </div>
            <div class="col-md-1">
                <span> <%= moment(items.start_date).format('DD-MM-YYYY') %></span>
            </div>
            <div class="col-md-1">
                <span> <%= moment(items.start_date).format('hh:mm') %></span>
            </div>
            <div class="col-md-1">
                <% if(items.is_paid == 1){ %>
                <a href="/video-conference/<%= items.id %>"><%= __('Connect') %></a>
                <span id="participants-span-<%= items.id %>"></span>
                <% }else{ %>
                <%= __('Waiting for payment') %>
                <% } %>
            </div>
            <div class="col-md-1">
                <% if(items.is_admin == 1){ %>

                <% if(items.is_paid != 1){ %>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#paymentModal" data-amount="150" data-currency="try"
                        data-sessionNumber="<%= items.id %>"><%= __('Payment') %></button>
                <% }else{ %>
                Paid
                <% } %>
                <% } %>
            </div>
            <div class="col-md-2">
                <% if(items.is_admin == 1){ %>
                <% if(!items.translator_id){ %>
                <a class="btn btn-large btn-info" href="selection/session/<%= items.id %>">
                    <%= __('Select Interpreter') %></a>
                <% } else{ %>
                <%= items.translator_id %>
                <% } %>
                <% } %>
            </div>

            <div class="col-md-2">
                <% if(items.is_admin == 1){ %>
                <% if(items.other_participant_id == null){ %>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#inviteModal" data-sessionid="<%= items.id %>">
                    <%= __('Invite Participant') %>
                </button>
                <% }else{ %>
                Invited userid:<%= items.other_participant_id %>
                <% } %>
                <% }else{ %>
                Invitation sent by userid:<%= items.other_participant_id %>
                <% } %>
            </div>
        </div>
        <% }) %>

        <form role="form" data-toggle="validator" id="modalForm" name="modalForm">
            <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="<%= __('Close') %>"><span
                                        aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12  col-sm-12  col-xs-8 " style="background:#fff; padding:30px;">


                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <h3 class="text-center"><%= __('Billing Address') %></h3>

                                    <hr>

                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="billingFirstName" id="billingFirstName" class="form-control
                                        input-sm"
                                                   placeholder="<%= __('First Name') %>">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="billingLastName" id="billingLastName"
                                                   class="form-control input-sm" placeholder="<%= __('Last Name') %>">
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="email" name="billingEmail" id="billingEmail" class="form-control
                                        input-sm" placeholder="<%= __('Email Id') %>">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="billingMobile" id="billingMobile" class="form-control
                                        input-sm" placeholder="<%= __('Mobile no') %>">
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" name="billingAddress" id="billingAddress">
                                            </textarea>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <input type="text" name="billingCountry" id="billingCountry" class="form-control
                                        input-sm" placeholder="country">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <input type="text" name="billingCity" id="billingCity" class="form-control
                                        input-sm"
                                                   placeholder="city">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <input type="text" name="billingPinCode" id="billingPinCode" class="form-control
                                        input-sm" placeholder="pincode">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" id="paymentAmountHidden" name="paymentAmountHidden">
                            <input type="hidden" id="paymentCurrencyHidden" name="paymentCurrencyHidden">
                            <input type="hidden" id="paymentSessionIdHidden" name="paymentSessionIdHidden">

                            <button type="button" class="btn btn-default" data-dismiss="modal"><%= __('Close')
                                %></button>
                            <button type="button" class="btn btn-primary" id="paymentButton"
                                    name="paymentButton"><%= __('Pay') %>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form role="form">
            <div class="modal fade" id="inviteModal" tabindex="-1" role="dialog"
                 aria-labelledby="inviteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="inviteModalLabel"><%= __('Participant User Name') %></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="participant-name"
                                           class="form-control-label"><%= __('User Name:') %></label>
                                    <input type="text" class="form-control" id="participant-name"
                                           name="participant-name">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= __('Close')
                                %></button>
                            <button type="button" class="btn btn-primary" id="invite-btn" data-sessionid="0">
                                <%= __('Send Invitation') %>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <% } %>
</div>
</div>
</form>
<script type="text/javascript">


    $(document).ready(function () {
        var intervalval, lang1, lang2, catval, subCatval, utcval;

        $(document).on('click', '#interval li', function () {
            intervalval = $(this).text();
        });

        $(document).on('click', '#lang1 li', function () {
            lang1 = $('a', this).attr('langval');
        });

        $(document).on('click', '#lang2 li', function () {
            lang2 = $('a', this).attr('langval');
        });

        $(document).on('click', '#cats li', function () {
            catval = $('a', this).attr('catval');
            $("#subCats").parents('.form-group').find('.dropdown-toggle').html("Select Sub Category" + '<span ' +
                    'class="caret"></span>');
            $("#subCats").empty();
            $.getJSON("/sub-categories?categoryId=" + catval, function (data) {
                $.each(data, function (key, value) {
                    $("#subCats").append(" <li><a href='#' subCatval='" + value.id + "'>" + value.sub_category_long_desc
                            + "</a></li>");
                });
            });
        });

        $(document).on('click', '#subCats li', function () {
            subCatval = $('a', this).attr('subCatval');
        });

        $(document).on('change', '#timezones', function () {
            utcval = $('#timezones option:selected').val();
        });

        $('#plandate').datetimepicker();
        $.getJSON("/languages", function (data) {
            $.each(data, function (key, value) {
                $("#lang1").append(" <li><a href='#' langval='" + value.lang_short + "'>" + value.lang_desc
                        + "</a></li>");
                $("#lang2").append(" <li><a href='#' langval='" + value.lang_short + "'>" + value.lang_desc
                        + "</a></li>");


            });
        });

        $.getJSON("/categories", function (data) {
            $.each(data, function (key, value) {
                $("#cats").append(" <li><a href='#' catval='" + value.id + "'>" + value.category_long_desc
                        + "</a></li>");

            });
        });

        $(document).on('click', ".dropdown-menu li a", function () {
            var selText = $(this).text();
            $(this).parents('.form-group').find('.dropdown-toggle').html(selText + '<span ' + 'class="caret"></span>');
        });

        $("#createSession").click(function () {
            if (!$("#desc").val() || 0 === $("#desc").val().length) {
                alert('<%= __('Fill in the description field, please') %>');
                return false;
            }
            if (lang1 === undefined) {
                alert('<%= __('Select a language, please!') %>');
                return false;
            }
            if (lang2 === undefined) {
                alert('<%= __('Select a language, please!') %>');
                return false;
            }
            if (lang1 === lang2) {
                alert('<%= __('Languages has to be different!') %>');
                return false;
            }
            if (intervalval === undefined) {
                alert('<%= __('Select a duration, please!') %>');
                return false;
            }
            if (catval === undefined) {
                alert('<%= __('Select a Category, please!') %>');
                return false;
            }
            if ($("#plandate").data("DateTimePicker").date() == null) {
                alert('<%= __('Select a date, please!') %>');
                return false;
            }
            var formdata = {
                plandate: $("#plandate").data("DateTimePicker").date().toISOString(),
                interval: intervalval,
                lang1: lang1,
                lang2: lang2,
                desc: $("#desc").val(),
                catval: catval,
                subCatval: subCatval,
                utcval:utcval
            } // this will replace with form values
            $.post("/plan", formdata, function (data) {
                $("#plannerDiv").toggle();
                window.location.reload();
            });
        });

        $('#inviteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var sessionid = button.data('sessionid')
            $("#invite-btn").attr("data-sessionid", sessionid);
        });

        $("#invite-btn").click(function () {
            var participantName = $("#participant-name").val()
            var sessionid = $(this).data('sessionid')
            var data = {
                participantName: participantName,
                sessionId: sessionid
            }
            $.post("/add-participant", data, function (data) {
                $("#participant-name").val('')
                $('#inviteModal').modal('toggle')
            });
        });

        $('#paymentModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal

            var amount = button.data('amount')
            var sessionId = button.data('sessionnumber')
            var currency = button.data('currency')
            var modal = $(this)

            var val = '<%= __('Payment amount ') %>' + "" + amount + "" + currency
            modal.find('.modal-title').text(val)

            $('#paymentAmountHidden').val(amount)
            $('#paymentCurrencyHidden').val(currency)
            $('#paymentSessionIdHidden').val(sessionId)
        })

        $("#paymentButton").click(function () {
            var modal = $("#paymentModal");

            var data = {
                amount: $('#paymentAmountHidden').val(),
                currency: $('#paymentCurrencyHidden').val(),
                sessionId: $('#paymentSessionIdHidden').val(),
                billingAddress: {
                    firstName: $('#billingFirstName').val(),
                    lastName: $('#billingLastName').val(),
                    email: $('#billingEmail').val(),
                    mobile: $('#billingMobile').val(),
                    country: $('#billingCountry').val(),
                    city: $('#billingCity').val(),
                    pinCode: $('#billingPinCode').val(),
                    address: $('#billingAddress').val()
                },
                shippingAddress: {
                    firstName: $('#shippingFirstName').val(),
                    lastName: $('#shippingLastName').val(),
                    email: $('#shippingEmail').val(),
                    mobile: $('#shippingMobile').val(),
                    country: $('#shippingCountry').val(),
                    city: $('#shippingCity').val(),
                    pinCode: $('#shippingPinCode').val(),
                    address: $('#shippingAddress').val()
                }
            }
            $.post("/payment", data, function (data) {
                window.location.href = data
            });
        })
    });


    function changePassword() {
        $.post("change-password-request?email=" + "<%= user.email %>", function (data) {
            alert(data);
        });
    }

    function assignSession(translator_id, session_id) {
        $.post("assign/translator/" + translator_id + "/session/" + session_id, function (data) {
            location.reload();
        });
    }


</script>
</body>
</html>
