<%- include ../layouts/header.ejs %>

<div class="page-data">
    <div class="data-table">
        <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th>Session Id</th>
                <th>Created Date</th>
                <th>Translation</th>
                <th>Active Peers</th>
            </tr>

            <% videoChats.forEach(function (videoChat) { %>
            <tr>
                <td><%=videoChat.id%><%=user._id %></td>
                <td><%=videoChat.createdAt%></td>
                <td><%=videoChat.trans_lang%></td>
                <td>
                    <table border="0" style="border: none;">
                        <% videoChat.peers.forEach(function (peer) { %>
                        <tr>
                            <td class="label"><%=peer._id%></td>
                        </tr>
                        <%})%>
                    </table>
                </td>
            </tr>
            <% }) %>

        </table>
    </div>
</div>

<%- include ../layouts/footer.ejs %>
